<launch>
    <node name="move_forward" pkg="follow_human" type="move_forward.py" output="screen"/>
    <node name="detect_obstacles" pkg="follow_human" type="detect_obstacles.py" output="screen"/>
    <include ns="camera" file="$(find depthimage_to_laserscan)/launch/launchfile_sample.launch" /> 

</launch>