<launch>
    <!-- <include file="$(find astra_camera)/launch/astra.launch"/> -->

    <!-- <include file="$(find face_detector)/launch/face_detector.rgbd.launch"/> -->
    <!-- <include file="$(find leg_detector)/launch/leg_detector.launch"/> -->
<!-- 
    <node pkg="leg_detector" type="leg_detector" name="leg_detector"
        args="scan:=base_scan $(find leg_detector)/config/trained_leg_detector.yaml" output="screen"/> -->

    <!-- <node pkg="leg_detector" type="leg_detector" name="leg_detector"
    args="scan:=base_scan $(find leg_detector)/config/trained_leg_detector.yaml" output="screen"/> -->

    <node name="move_forward" pkg="follow_human" type="move_forward.py" output="screen"/>
    
    <node name="detect_obstacles" pkg="follow_human" type="detect_obstacles.py" output="screen"/>
    
    
</launch>